<!-- raw-helper -->

<a href="https://www.vacasa.com/unit.php?UnitID={{{this.recommendations.remote_home.recommended_units.2.unit_id}}}&utm_source=peat&utm_medium=email&utm_campaign=long_term_rentals"
	target="_blank" class="unit-card-link">
	<img infer="retina" class="unit-card-image"
		src="https:{{{this.recommendations.remote_home.recommended_units.2.attributes.photos_list.[0]}}}?w=568&ar=9:10&fit=crop&crop=entropy,edges&corner-radius=8,8,3,3&mask=corners"
		alt="{{this.recommendations.remote_home.recommended_units.2.attributes.name}}" width="284" />
	<h3 class="unit-card-name">{{this.recommendations.remote_home.recommended_units.2.attributes.name}}
	</h3>
	<p class="unit-card-attributes">{{this.recommendations.remote_home.recommended_units.2.attributes.city_name}}
	</p>
</a>
</a>
<!-- /raw-helper -->
