<!-- raw-helper -->

<a href="{{{unit_2_url}}}{{{ utm_add }}}" target="_blank" class="unit-card-link">
	<img infer="retina" class="unit-card-image" src="{{{unit_2_image}}}?w=568&ar=4:3&fit=crop&crop=entropy,edges"
		alt="{{unit_2_name}}" width="284" />
	<h3 class="unit-card-name">
		{{unit_2_name}}
	</h3>
	<p class="unit-card-attributes">
		{{unit_2_bed}}&nbsp;Bed | {{unit_2_bath}}&nbsp;Bath |
		Sleeps&nbsp;{{unit_2_sleeps}}
	</p>
	<p class="unit-card-price">
		<span class="current-price" style="font-size:15px;font-weight:600">${{unit_2_price}}</span>&nbsp;&nbsp;<span
			class="per-night"
			style="color:#4c5357;font-size:12px!important;font-weight:600;text-transform:uppercase">avg/night</span>
	</p>
</a>
<!-- /raw-helper -->
