<!-- raw-helper -->

<a href="{{{unit_1_url}}}{{{ utm_add }}}" target="_blank" class="unit-card-link">
	<img infer="retina" class="unit-card-image" src="{{{unit_1_image}}}?w=568&ar=4:3&fit=crop&crop=entropy,edges"
		alt="{{unit_1_name}}" width="284" />
	<h3 class="unit-card-name">
		{{unit_1_name}}
	</h3>
	<p class="unit-card-attributes">
		{{unit_1_bed}}&nbsp;Bed | {{unit_1_bath}}&nbsp;Bath |
		Sleeps&nbsp;{{unit_1_sleeps}}
	</p>
	<p class="unit-card-price">
		<span class="current-price">${{unit_1_price}}</span>&nbsp;&nbsp;<span class="per-night">avg/night</span>
	</p>
</a>
<!-- /raw-helper -->
