<container>
	<row>
		<column class="gutter padding-b text-left">
			<h2 class="email-body">Get all the details for your Vacasa&nbsp;stay.</h2>
		</column>
	</row>
	<row>
		<column class="gutter padding-b text-left">
			<p class="email-body">
				No more searching your inbox or snapping screenshots--get entry codes in offline mode, then
				connect to WiFi instantly when you walk in the door.</p>
		</column>
	</row>
	<row>
		<column class="gutter padding-b-small text-left">
			<h3 class="email-body">Everything you need for a smooth&nbsp;vacation:</h3>
		</column>
	</row>
	<row>
		<column class="gutter padding-b text-left">
			<p class="email-body">
				3D tours<br />
				Amenity checklists<br />
				Notification for early check-in and late check-out (when availible)<br />
				Driving directions and entry codes<br />
				Check-out instructions<br />
				Offline access<br />
				Invite guests<br />
			</p>
		</column>
	</row>
</container>


<container>
	<row>
		<column class="body-left-btn padding-b-large padding-t-large button text-center">
			{{> primary-button-side label="Get The App" url=unit_1_url b_utm=utm_add }}
		</column>
		<column large="6" small="0"></column>
	</row>
</container>
