<container>
	<row>
		<column class="cta gutter padding-b small-head">
			<h1 class="cta small-head">Looking to trade the winter blues for breezy&nbsp;beaches?</h1>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="cta gutter padding-b">
			<a href="{{{ url }}}{{{ utm_add }}}" target="_blank">

				<img infer="retina" width="556" src="{{{ image }}}?w=1112&ar=16:9&fit=crop&crop=entropy,edges"
					alt="Open new page to book {{ name }} on Vacasa.com."></img>

			</a>
		</column>
	</row>
</container>

<container>
	<row class="">
		<column class="cta gutter padding-b">
			<!--raw-helper-->
			<p class="unit-name">{{ name }}</p>
			<p class="unit-attributes">
				{{ unit_4_bed }}&nbsp;Bed | {{ unit_4_bath }}&nbsp;Bath | Sleeps&nbsp;{{
			unit_4_sleeps }}
				<!--/raw-helper-->
			</p>
		</column>
	</row>
</container>
