<container>
	<row>
		<column class="cta gutter padding-b text-left">
			<a href="{{{ url }}}{{{ utm_add }}}" target="_blank">
				<img class="lead-image" infer="retina" width="592" src="{{{ image }}}?w=1184&ar=2:1&fit=crop&crop=entropy,edges"
					alt="Open new page to rebook on Vacasa.com."></img>
			</a>
		</column>
	</row>
	<row>
		<column class="cta gutter padding-b-small text-left">
			<h1 class="small-head">
				Did you fall in love with your Vacasa home?
			</h1>
		</column>
	</row>
	<row>
		<column class="cta gutter padding-b-large text-left">
			<p class="sub-message">
				Book this home again for your next getaway!
			</p>
		</column>
	</row>
	<row>
		<column class="cta gutter padding-b text-center">
			{{> primary-button label="Rebook Your Home" url=unit_1_url b_utm=utm_add }}
		</column>
	</row>
</container>
