<container>
	<row>
		<column class="hero gutter txt-l small-head pad-b">
			<h1>Snow is falling<br />and cabins are&nbsp;calling</h1>
		</column>
	</row>
	<row>
		<column class="hero gutter txt-l small-head pad-b">
			<h2 class="sub">Give yourself the gift of a winter&nbsp;getaway</h2>
		</column>
	</row>
	<row>
		<column class="hero gutter txt-l small-head pad-b">
			<p class="sub-body">Good news! The unit you looked at is still availible for the same week next year.
				Book now to
				secure your Vacasa home for another great vacation.</p>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="hero gutter txt-l pad-b">
			<a href="{{{ url }}}{{{ utm_add }}}" target="_blank">

				<img infer="retina" width="592" src="{{{ image }}}?w=1184"
					alt="Open new page to book {{ name }} on Vacasa.com."></img>

			</a>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="hero gutter txt-l pad-b main-unit-name ">
			<a class="hero" href="{{{ url }}}{{{ utm_add }}}" target="_blank">
				<p class="unit-name">{{ name }}</p>
				<p class="unit-attributes">
					<!-- raw-helper -->
					{{ unit_1_bed }}&nbsp;Bed | {{ unit_1_bath }}&nbsp;Bath | Sleeps&nbsp;{{
			unit_1_sleeps }}
					<!-- /raw-helper -->
				</p>
			</a>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="gutter pad-b-lrg txt-center">
			{{> primary-button label="Find Your Winter Getaway" url=unit_1_url  b_utm=utm_add }}
		</column>
	</row>
</container>
