<container style="background: #003349;">
	<row style="background: #003349;">
		<column large="6" small="12" class="mobile-app mobile-app-left txt-l">
			<p class="prehead">
				VACATION SMARTER
				<!--[if mso]><br><br><![endif]-->
				</div>
			</p>
			<h2 class="mobile-app-header">
				Download the Vacasa&nbsp;app
				<!--[if mso]><br><br><![endif]-->
			</h2>
			<p class="mobile-app-copy">
				Get driving directions, 3D tours, instant WiFi connection, and early
				check-in availability notifications. Offline mode means no more snapping
				screenshots or searching your inbox.
				<!--[if mso]><br><br><![endif]-->
			</p>
			<a href="https://apps.apple.com/app/id1454336721">
				<img inline
					src="https://vacasa-www-images-stage.imgix.net/app-store-badge2x.png?auto=format%2Ccompress&ixlib=python-2.2.0&q=45&s=9a9607ccfa004a192f6eb23a796cc2c4"
					class="mobile-app-apple-link-btn" width="108"
					alt="Click to download the Vacasa mobile app in the Apple App Store" />
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.vacasa.guests">
				<img inline
					src="https://vacasa-www-images-stage.imgix.net/google-play-badge2x.png?auto=format%2Ccompress&ixlib=python-2.2.0&q=45&s=a12535cc800801131edfbf96e23a9f73"
					width="122" alt="Click to download the Vacasa mobile app in the Google Play Store" />
			</a>
		</column>
		<column large="6" small="0" class="full-width-app-image mobile-app-right">
			<img infer="retna" width="260" height="298.45"
				src="https://www-vacasa.imgix.net/app-landing-hero2x.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=45&s=5f62c76b128aca3945601b4e71e983ea"
				alt="The Vacasa mobile app on Apple and Android phones" />
		</column>
	</row>
</container>


<container class="pop-down">
	<row>
		<column large="0" small="12" class="gutter pad-b-lrg">
			<img infer="retna" width="160"
				src="https://www-vacasa.imgix.net/app-landing-hero2x.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=45&s=5f62c76b128aca3945601b4e71e983ea"
				style="margin: auto;" alt="The Vacasa mobile app on Apple and Android phones" />
		</column>
	</row>
</container>
