<container>
	<row>
		<column class="gutter mobile-app text-left">
			<h3 class="mobile-app-header text-only-section">Quickly access trip details on&nbsp;the&nbsp;go</h3>
			<!--[if mso]><br><br><![endif]-->
		</column>
	</row>
	<row>
		<column class="gutter mobile-app text-left">
			<p class="mobile-app-copy text-only-section">
				Get driving directions, 3D tours, instant WiFi connection, and early
				check-in availability notifications. Offline mode means no more snapping
				screenshots or searching your inbox.
			</p>
		</column>
	</row>
	<row>
		<column class="gutter padding-t-large padding-b-large" large="6" small="12">
			{{> primary-button label="Download The Vacasa App" url=unit_1_url b_utm=utm_add }}
		</column>
		<column large="6" small="0"></column>
	</row>

</container>
