<container style="background: #E6F2F8;">
	<row style="background: #E6F2F8;">
		<column class="pad-b-sml">
			<p>&nbsp;</p>
		</column>
	</row>
	<row style="background: #E6F2F8;" class="gutter">
		<column large="2" small="2" class="main pad-t pad-b" style="vertical-align: middle;">
			<img
				src="https://www-vacasa.imgix.net/disinfectant-1.png?auto=format%2Ccompress&ixlib=python-3.1.1&q=45&s=b5106f465ea8dd761495fa26603225a6"
				alt="Vacasa Premium Clean" style="display: block; margin: 0 auto;">
		</column>
		<column large="1" small="1" class="main pad-t pad-b" style="vertical-align: middle;">
			<p>&nbsp;</p>
		</column>
		<column large="9" small="9" class="main pad-t pad-b" style="vertical-align: middle;">
			<h2 class="small-head pad-b-sml">Cleaning you can count on</h2>
			<p class="pad-b-sml">Enjoy a safe and comfortable vacation with our upgraded housekeeping program.</p>
			<a href="https://www.vacasa.com/support/vacasa-premium-clean&utm_source=peat&utm_medium=email&utm_campaign=long_term_rentals"
				target="_blank" style="text-decoration: none;color: #0078ab;">
				<p style="text-decoration: none;color: #0078ab;">Learn about Vacasa Premium Clean&nbsp;&#8250;</p>
			</a>
		</column>
	</row>
	<row style="background: #E6F2F8;">
		<column class="pad-b-sml">
			<p>&nbsp;</p>
		</column>
	</row>
</container>
