<container>
	<row class="search">
		<column class="search-top gutter" style="background: #003349;">
			<a href="https://vacasa.com{{{ utm_new }}}" target="_blank">
				<h3>Find a vacation rental</h3>
			</a>
		</column>
	</row>
	<row>
		<column class="search-bottom" style="background: #003349;">
			<a href="https://vacasa.com{{{ utm_new }}}" target="_blank">
				<img width="561" height="40" src="https://static-assets.boise.vacasa.com/peat/search-bar.png"
					alt="Search for a vacation rental" />
			</a>
		</column>
	</row>
</container>
