<container>
	<row>
		<column class="gutter vacasa-banner-container padding-b">
			<h3 class="padding-b vacasa-banner">
				Book&nbsp;confidently.
				<br />
				Stay&nbsp;comfortably.
				<!--[if mso]><br /><br /><![endif]-->
			</h3>
			<p class="vacasa-banner">
				<!--[if mso]>Your vacation time is valuable, which is why we’re here for you every step of<br /> the way. With
				around-the-clock customer support, easy check-in, dedicated<br /> local teams, and professional housekeeping — you can
				count on Vacasa<br /> wherever you’re headed.<![endif]-->
				<!--[if !mso]><!-->Your vacation time is valuable, which is why we’re here for you every step of the way. With
				around-the-clock customer support, easy check-in, dedicated local teams, and professional housekeeping — you can
				count on Vacasa wherever you’re headed.
				<!--<![endif]-->
				<br /><br />
				<a class="nostyle" href="https://www.vacasa.com/" target="_blank"><strong>Vacasa |
						Vacasa.com</strong></a><br />
				Your vacation rental partner
				<!--[if mso]><br /><br /><![endif]-->
			</p>
			<img class="padding-t-large" infer=retina width="166"
				src="https://assets.vacasa.com/images/logo-2018/vacasa_logo_color_dark.png" alt="Vacasa" />
		</column>
	</row>
</container>
<container>
	<row>
		<column class="unsubscribe-preferences-container text-center">
			<a href="http://em.vacasa.com/Q0rY05V0Ya23y0q3D00jnG0" target="_blank">
				<img class="social-icon padding-right" src="http://go.vacasa.com/rs/628-YVY-187/images/social-twitter.png"
					title="Twitter" alt="Twitter" width="36" border="0" />
			</a>
			<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
			<a class="unsub-link" href="http://em.vacasa.com/K00ynYV003rb2kD5G03q0Y0" target="_blank">
				<img class="social-icon padding-right" src="http://go.vacasa.com/rs/628-YVY-187/images/social-facebook.png"
					title="Facebook" alt="Facebook" width="36" border="0" />
			</a>
			<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
			<a class="unsub-link" href="https://www.instagram.com/vacasa/" target="_blank">
				<img class="social-icon" src="http://go.vacasa.com/rs/628-YVY-187/images/social-instagram.png" title="Instagram"
					alt="Instagram" width="36" border="0" />
			</a>
			<!--[if mso]><br /><br /><![endif]-->
		</column>
	</row>
	<row>
		<column class="text-center">
			<p class="unsubscribe-preferences-links">
				<a class="unsub-link" href="https://www.vacasa.com" target="_blank">Unsubscribe</a>
				&nbsp; • &nbsp;
				<a class="unsub-link" href="https://www.vacasa.com" target="_blank">Manage&nbsp;preferences</a>
			</p>

		</column>
	</row>
</container>
