
<container>
	<row>
		<column class="gutter pad-b-lrg">
			<hr style="height: 4px; widows: 100%; max-width: 568px; border-top: 1px solid #F1F1F2" />
		</column>
	</row>
	<row>
		<column class="pad-b-sml">&nbsp;</column>
	</row>
	<row class="pad-b-huge gutter">
		<column large="2" small="0" style="vertical-align: middle;">&nbsp;</column>
		<column class="txt-r" large="2" small="3" style="vertical-align: middle;">
			<img infer="retina" src="http://cdn.mcauto-images-production.sendgrid.net/fc2fa22bf8f6e266/ca74dd51-f374-46c0-a04f-861573cc967b/1034x1036.png" width="64" alt="Vacasa App Logo" style="width:64px;max-width: 64px;display: block;margin: 0;"><!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
			<!--[if mso]><br /><br /><![endif]-->
		</column>
		<column class="vacasa-banner" large="7" small="9" style="vertical-align: middle;">
				<p class="app-title pad-b-sml">Download the Vacasa app</p>
				<p class="app-description">Browse thousands of vacation rentals and find your next getaway. Available for <a class="app-link" href="https://vacasaguests.page.link/guest_app_download?utm_content=footer_app_download" target="_blank"><strong>iOS</strong></a> and <a class="app-link" href="https://vacasaguests.page.link/guest_app_download?utm_content=footer_app_download" target="_blank"><strong>Android</strong></a>.</p>
				<!--[if mso]><br /><br /><![endif]-->
		</column>
	</row>
	<row>
		<column class="txt-center">
			<!--{{{{raw-helper}}}}-->
			<p class="unsub-pref-link">
				<a class="unsub-pref-link" href="https://www.vacasa.com/policies" target="_blank">Privacy Policy</a>
				&nbsp; | &nbsp;<a class="unsub-pref-link" href="<%asm_preferences_raw_url%>" target="_blank">Manage&nbsp;preferences</a>
				&nbsp; | &nbsp;
				<a class="unsub-pref-link" href="<%asm_group_unsubscribe_raw_url%>" target="_blank">Unsubscribe</a>
			</p>
			<!--{{{{/raw-helper}}}}-->
			<!--[if mso]><br /><br /><![endif]-->
			<p class="pad-t unsub-pref-link">Vacasa LLC | 850 NW 13th Ave., Portland, OR 97209</p>
		</column>
	</row>
	<row>
		<column class="pad-b">&nbsp;</column>
	</row>
		
</container>
