container {
  padding: 0;
  max-width: 640px;
}

div {
  background-color: #ffffff;
}

body {
  background-color: #fbfbfc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.responsive-container {
  max-width: 640px;
}

a {
  color: #003349 !important;
  text-decoration: none;
}

.txt-center {
  text-align: center !important;
}

.txt-l {
  text-align: left !important;
}

.txt-r {
  text-align: right !important;
}

.gutter-xl {
  padding-left: 48px;
  padding-right: 48px;
}

.gutter-lrg {
  padding-left: 32px;
  padding-right: 32px;
}

.gutter {
  padding-left: 24px;
  padding-right: 24px;
}

.pad-t-huge {
  padding-top: 40px;
}

.pad-t-xl {
  padding-top: 32px;
}

.pad-t-lrg {
  padding-top: 24px;
}

.pad-t {
  padding-top: 16px;
}

.pad-t-sml {
  padding-top: 8px;
}

.pad-b-huge {
  padding-bottom: 40px;
}

.pad-b-xl {
  padding-bottom: 32px;
}

.pad-b-lrg {
  padding-bottom: 24px;
}

.pad-b {
  padding-bottom: 16px;
}

.pad-b-sml {
  padding-bottom: 8px;
}

.l-col-item-xl {
  padding-left: 48px;
  padding-right: 8px;
}

.r-col-item-xl {
  padding-left: 8px;
  padding-right: 48px;
}

.l-col-item {
  padding-left: 24px;
  padding-right: 8px;
}

.r-col-item {
  padding-left: 8px;
  padding-right: 24px;
}

@media only screen and (max-width: 600px) {
  .mbl-pad-lrg {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  .mobile-padding {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .mbl-pad-med {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .mbl-pad-med-l {
    padding-left: 16px !important;
  }

  .mbl-pad-med-r {
    padding-right: 16px !important;
  }

  .mbl-pad-sml {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .mbl-pad-sml-l {
    padding-left: 8px !important;
  }

  .mbl-pad-sml-r {
    padding-right: 8px !important;
  }

  .mbl-pad-b-lg {
    padding-bottom: 24px !important;
  }

  .mbl-pad-b {
    padding-bottom: 16px !important;
  }

  .mbl-pad-b-sml {
    padding-bottom: 8px !important;
  }

  body {
    padding-top: 0 !important;
  }

  .card-header {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .card-img {
    height: unset !important;
    max-height: unset !important;
    overflow: hidden;
  }
}

/* typography styles */

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 38px !important;
    letter-spacing: -0.5px !important;
    line-height: 42px !important;
  }
  .small-head {
    font-size: 32px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  h2 {
    font-size: 21px !important;
    letter-spacing: -0.5px !important;
    line-height: 28px !important;
  }

  .sub {
    font-size: 18px !important;
    letter-spacing: -0.2 !important;
    line-height: 24px !important;
  }

  .sub-body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }

  .body-text {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .unit-attributes {
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.38px !important;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 28px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  .small-head {
    font-size: 28px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  .sub {
    font-size: 16px !important;
    letter-spacing: initial !important;
    line-height: 24px !important;
  }
}

@media only screen and (max-width: 350px) {
  .small-head {
    font-size: 21px !important;
    letter-spacing: -0.5 !important;
    line-height: 28px !important;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 21px !important;
    letter-spacing: -0.2px !important;
    line-height: 28px !important;
  }

  .sub {
    font-size: 16px !important;
    letter-spacing: initial !important;
    line-height: 24px !important;
  }
}

h1,
h2,
h3,
p,
span,
a {
  margin: 0;
}

h1,
h2,
h3 {
  color: #2c3439;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p {
  color: #000000;
  font-family: "Nunito Sans", Arial, sans-serif;
}

a {
  color: #707579;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
}

h1 {
  height: auto;
  font-size: 42px;
  letter-spacing: -0.3px;
  line-height: 47px;
}

.small-head {
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 36px;
}

.card-header {
  font-size: 20px;
  font-family: "Nunito Sans", Arial, sans-serif;
  line-height: 30px;
}

.card-img {
  height: 100%;
  max-height: 240px;
  overflow: hidden;
}

.sub {
  font-size: 21px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 400;
}

.sub-body {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
}

.sub-message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body-text {
  color: #373737;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.info-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.88px;
  color: #4c5357;
}

.unit-name {
  color: #2c3439;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  word-wrap: normal;
}

.unit-attributes {
  color: #707579;
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.white-link {
  color: #ffffff !important;
}

.up-case {
  text-transform: uppercase;
}

/* Header Styles */

@media only screen and (max-width: 600px) {
  .header-btn {
    display: block !important;
    width: 42% !important;
  }
  .logo-container {
    display: block !important;
    width: 58% !important;
  }

  .blu-header .tagline {
    display: none !important;
  }

  .left-header {
    padding: 24px 8px 16px 8px !important;
  }
}

@media only screen and (max-width: 350px) {
  .header-btn {
    display: none !important;
    width: 0 !important;
  }
  .logo-container {
    width: 100% !important;
  }
}

.blu-header {
  background-color: #003349;
  background: #003349;
}

.left-header {
  padding: 24px 8px 0 8px;
}

.right-header {
  padding: 24px 24px 24px 0;
}

.logo {
  height: 32px;
}

.header-tagline {
  color: #ffffff;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

/* Button Styles */

@media only screen and (max-width: 600px) {
  .primary {
    font-size: 12px !important;
    text-decoration: none;
    display: inline-block;
  }
}

table.button {
  margin: 0 auto 0 auto !important;
}

.primary {
  background-color: #ffd00a;
  border: 1px solid #ffd00a;
  border-radius: 4px;
  color: #2c3439;
  width: 100%;
  min-width: 220px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.primary.slug {
  max-width: 300px;
  height: 56px;
}

.primary a {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2c3439;
}

.ghost {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #0078ab;
  text-decoration: none;
  border-radius: 4px;
  width: 100% !important;
  border: 1px solid #0078ab;
  background-color: #fff;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 16px;
}

.ghost * {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border: none !important;
}

.utility {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #003349;
  text-decoration: none;
  border-radius: 4px;
  width: 100% !important;
  border: 1px solid #003349;
  background-color: #fff;
  display: inline-block;
}

.utility * {
  margin-bottom: 0 !important;
  margin-top: 0px !important;
  border: none !important;
}

.secondary {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  width: 100% !important;
  border: 1px solid #0078ab;
  background-color: #ffffff;
  display: inline-block;
}

.secondary * {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border: none !important;
}

.l-col-btn {
  padding-left: 24px;
  padding-right: 8px;
}

.r-col-btn {
  padding-left: 8px;
  padding-right: 24px;
}
@media only screen and (max-width: 600px) {
  .primary {
    font-size: 12px !important;
    text-decoration: none;
    display: inline-block;
  }
}

table.button {
  margin: 0 auto 0 auto !important;
}

.primary {
  background-color: #ffd00a;
  border: 1px solid #ffd00a;
  border-radius: 4px;
  color: #2c3439;
  width: 100%;
  min-width: 220px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.primary a {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2c3439;
}

.ghost {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #0078ab;
  text-decoration: none;
  border-radius: 4px;
  width: 100% !important;
  border: 1px solid #0078ab;
  background-color: #fff;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 16px;
}

.ghost * {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border: none !important;
}

.utility {
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #0078ab;
  text-decoration: none;
  border-radius: 4px;
  width: 100% !important;
  border: 1px solid #0078ab;
  background-color: #fff;
  display: inline-block;
}

.utility * {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border: none !important;
}

/* Marketing Footer Styles */

.vacasa-banner-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

h3.vacasa-banner {
  margin: 0;
  color: #2c3439;
  font-size: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 36px;
}

p.vacasa-banner {
  max-width: 500px;
  margin: 0;
  height: auto;
  color: #000000;
  font-size: 16px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: normal;
  line-height: 26px;
}

a.vacasa-banner {
  color: #003349;
}

.unsubscribe-preferences-container {
  padding-top: 0;
  padding-bottom: 16px;
}

.social-icon {
  display: inline;
}

.si-pad-r {
  padding-right: 36px;
}

.unsub-pref-link {
  color: #707579;
  font-size: 14px;
  font-family: "Nunito Sans", Arial, sans-serif;
  line-height: 20px;
  padding-bottom: 8px;
  margin: 0;
}

.unsub-link {
  color: #707579 !important;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  h3.vacasa-banner {
    font-size: 21px !important;
    letter-spacing: -0.2px !important;
    line-height: 28px !important;
  }

  .vacasa-banner span {
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 22px !important;
  }

  .vacasa-banner-logo {
    max-width: 124px !important;
  }

  .unsub-link {
    font-size: 12px !important;
    line-height: 20px;
  }
}

/* Basic Card Styles */

@media only screen and (max-width: 600px) {
  .card-container-left {
    padding: 0 24px 16px 24px !important;
  }

  .card-container-right {
    padding: 0 24px 16px 24px !important;
  }

  .unit-card-name {
    font-size: 18px !important;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 20px;
  }

  .location-card-name {
    font-size: 18px !important;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 20px;
  }
}

.card-container-left {
  padding: 0 8px 16px 24px;
}

.card-container-right {
  padding: 0 24px 16px 8px;
}

.unit-card-link {
  margin: 0;
  color: #0078ab;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.unit-card-city {
  color: #707579;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: 10px;
  text-transform: uppercase;
  word-wrap: none;
  margin: 0;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal;
  text-decoration: none;
}

.unit-card-image {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  margin-bottom: 0px !important;
  outline: 0;
  text-decoration: none;
  width: auto;
  max-width: 100%;
}

.unit-card-name {
  margin: 0;
  color: #2c3439 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  overflow: hidden !important;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal;
}

.location-card-name {
  margin: 0;
  color: #2c3439 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 0;
  text-align: left;
  text-decoration: none;
  word-wrap: normal;
}

.unit-card-attributes {
  color: #707579;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: 16px;
  text-transform: uppercase;
  word-wrap: none;
  margin: 0;
}

.unit-card-price {
  margin: 0;
  color: #000;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: 500;
  margin-top: 0 !important;
  padding: 0;
  text-align: left;
}
.unit-card-resort {
  margin: 0;
  color: #000000;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 10px !important;
  margin-top: 0 !important;
  padding: 0;
  text-align: left;
}
.unit-card-price span.current-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.unit-card-price span.per-night {
  color: #4c5357;
  font-size: 14px !important;
  letter-spacing: 0.45px;
  font-weight: 600;
  text-transform: uppercase;
}
