@media only screen and (max-width: 600px) {
  .card-container-left {
    padding: 0px 24px 16px 24px !important;
  }

  .card-container-right {
    padding: 0px 24px 16px 24px !important;
  }
}

.card-container-left {
  padding: 0px 8px 16px 24px;
}

.card-container-right {
  padding: 0px 24px 16px 8px;
}

.unit-card-link {
  margin: 0;
  color: #0078ab;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.unit-card-image {
  -ms-interpolation-mode: bicubic;
  border: none;
  clear: both;
  display: block;
  margin-bottom: 8px !important;
  outline: 0;
  text-decoration: none;
  width: auto;
  max-width: 100%;
}

.unit-card-name {
  margin: 0;
  color: #2c3439 !important;
  font-family: "wigrum-medium", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  overflow: hidden !important;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal;
}

.unit-card-attributes {
  color: #707579;
  font-family: "wigrum-medium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: 16px;
  text-transform: uppercase;
  word-wrap: none;
  margin: 0;
}

.unit-card-price {
  margin: 0;
  color: #000;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: 500;
  margin: 0;
  margin-top: 0 !important;
  padding: 0;
  text-align: left;
}
.unit-card-price span.current-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.unit-card-price span.per-night {
  color: #4c5357;
  font-size: 14px !important;
  letter-spacing: 0.45px;
  font-weight: 600;
  text-transform: uppercase;
}
