@media only screen and (max-width: 600px) {
  .section-container-left {
    padding: 0px 24px 16px 24px !important;
  }

  .section-container-right {
    padding: 0px 24px 16px 24px !important;
  }
  .section-content-container {
    max-width: 600px;
  }
}

@media only screen and (max-width: 500px) {
  .section h2 {
    font-size: 21px !important;
    letter-spacing: -0.5px !important;
    line-height: 28px !important;
  }
}

.section {
  word-wrap: normal;
}

.section h2,
p,
img {
  margin: 0;
}

.section h2 {
  color: #2c3439;
  font-size: 21px;
  font-family: "Wigrum", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 28px;
}

.section h2.tertiary {
  max-width: 568px;
  height: auto;
  color: #2c3439;
  font-size: 21px;
  font-family: "Wigrum", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 28px;
}

.section p.sub-message {
  color: #000000;
  font-size: 18px;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.section img.side-image {
  padding-top: 8px;
  width: auto;
  max-width: 100%;
}

.section-container-left {
  padding: 0px 8px 0 24px;
}

.section-container-right {
  padding: 0px 24px 0 8px;
}

.section-content-container {
  max-width: 300px;
}
