@media only screen and (max-width: 500px) {
  h1 {
    font-size: 38px !important;
    letter-spacing: -0.5px !important;
    line-height: 42px !important;
  }
  h1.small-head {
    font-size: 32px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  h2 {
    font-size: 21px !important;
    letter-spacing: -0.5px !important;
    line-height: 28px !important;
  }

  h2.sub {
    font-size: 18px !important;
    letter-spacing: -0.2 !important;
    line-height: 24px !important;
  }

  p.sub-body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }

  p.body-text {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  p.unit-attributes {
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.38px !important;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 28px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  h1.small-head {
    font-size: 28px !important;
    letter-spacing: -0.5px !important;
    line-height: 36px !important;
  }

  h2.sub {
    font-size: 16px !important;
    letter-spacing: initial !important;
    line-height: 24px !important;
  }
}

@media only screen and (max-width: 350px) {
  h1.small-head {
    font-size: 21px !important;
    letter-spacing: -0.5 !important;
    line-height: 28px !important;
  }
}

@media only screen and (max-width: 300px) {
  h1 {
    font-size: 21px !important;
    letter-spacing: -0.2px !important;
    line-height: 28px !important;
  }

  h2.sub {
    font-size: 16px !important;
    letter-spacing: initial !important;
    line-height: 24px !important;
  }
}

h1,
h2,
h3,
p,
span,
a {
  margin: 0;
}

h1,
h2,
h3 {
  color: #2c3439;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p {
  color: #000000;
  font-family: "Nunito Sans", Arial, sans-serif;
}

h1 {
  height: auto;
  font-size: 42px;
  letter-spacing: -0.3px;
  line-height: 47px;
}

h1.small-head {
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 36px;
}

h2.sub {
  font-size: 21px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 400;
}

h2.t_bloc {
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 34px;
  font-weight: 700;
}

h3.body-text {
  color: #000000;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

p.sub-body {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
}

p.sub-message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

p.body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #373737;
}

p.info-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.88px;
  color: #4c5357;
}

p.unit-name {
  color: #2c3439;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  word-wrap: normal;
}

p.unit-attributes {
  color: #707579;
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

a {
  color: #707579;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
}

.up-case {
  text-transform: uppercase;
}
